*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import "./media";
.container{
     
    width: $row_width;
   
    &__header{
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $header_bg;
        padding: 0 20px;

        &--logo a{
            color: $text_color;
            text-decoration: none;
        }

        &--list{
            width: 400px;           
            @include flex(flex, space-around, center);
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: $text_color;
                }
            }
        }        

        .hub_icon{
            display: none;            
        }
        @include media(){
            .hub_icon{
                display: block;
            }
            &--list{
                display: none;
            }
        }

    }
   
}