*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.layout{
    width: 80%;
    margin: 20px auto;
        #header{
            height:100px;
            background-color:$header_bg;
            margin:0;
            padding:10px;
            a{
                text-decoration: none;
            }
            }
}

.container{
    height: 100vh;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap; 

}
#footer{
	height:50px;
	background:$footer_bg ;
	border-top: $footer_border 2px solid;
	margin:0;
	padding:0;
	}