$phone_width : 450;
@mixin width_height($phone_width){
    width: $phone_width + px ;
    text-align: center;
} 
@mixin media (){
    @media screen and (max-width : 450px){   
        @content;
    }
}
