
.container{
    &__row{
        border: 2px solid red;
        padding: 2px;
    }
    &__row1{
        width: $row_width;
        height: 100vh;
        text-align: center;
        color: $text_color;
        background-image: url(./image/image-7.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 10px;

        &--items{
            // background-color: red;
            align-items: center;
            position: relative;
            top: 50%;
            max-width: 700px;
            margin: auto;
            padding: 20px 0;
            line-height: 35px;
        @include media(){
            top: 20%;
        }
            h1{
                font-weight: 600;
                font-size: 30px;
            }
            .btn-dark{
                width: 120px;
                height: 40px;
                border-radius: 8px;
                a{
                    text-decoration: none;
                    font-size: 20px;
                }
            }
        }
    }

    &__row2{
        text-align: center;
        width: $row_width;
        background-color: $row2-bg;
        padding: 30px 10px;
        h1{
            color: rgb(63, 62, 62);
            margin-bottom: 10px;
            @include media(){
                font-size: 23px;
            }
        }


    &--flex{
        @include flex(flex, space-evenly, center){
            padding: 10px;
            flex-wrap: wrap;
            text-align: justify;
        }        
       
     
        
        div{
            width: 550px;
            margin-top: 10px;
            font-family:  Times, serif;
        }
    }
    }

    &__row3{  
        @include flex(flex, space-around, center){
            flex-wrap: wrap;
            padding: 25px;
            background-color: rgb(51, 50, 50);

        }


        &--card{
            width: 400px;
            height: 400px;
            border: 1px solid gray;
            border-radius: 3px;
            background-color: $card_bg;
            margin-top: 10px;


        img{
            width: 100%;
            height: 250px;
        }
         .card--body{
            padding: 10px;
            // background-color: red;
           
        }

        }

    
    }
    &__row4{
        width: $row_width;
        height: 400px;
        text-align: center;
        padding: 20px;       
        @include flex(flex, space-around, center);
        @include media(){
            flex-direction: column;
            height: 450px;
        }
        &--card{
            // width: 50%;
            width: $row_width \ 2;
            @include media(){
                    width: 100%;
            }
            img{
                width: 100%;
                height: 350px;
                @include media(){
                    height: 250px;
                }
            }
        }
        &--title{
            width: 45%;
            text-align: justify;
            @include media(){
                width: 100%;
                text-align: center;
            }
            h1{
                @include media(){
                    font-size: 23px;
                }
            }
            
        }
    }

    &__row5{
        background-color: $row5_bg;
        width: $row_width;
        height: fit-content;
        padding-top: 20px;
        @include flex(flex, space-evenly,start){
            flex-wrap: wrap;
        }      
        @include media(){
            height: fit-content;
        }
        
        .row{
            text-align: left;

        @include media(){
            width: 250px;
            text-align: center;
        }
            h3{
                font-family: 'Courier New';
                color: $text_color;
                font-weight: 500;
                font-size: 22px;
                margin: 10px;
            }
           .row__list{  
            text-align: justify;
                   
              &--item{
                list-style: none;
                text-align: center;
                a{
                    font-size: 16px;
                    color: $text_color;
                    font-weight: 400;
                    line-height: 25px;
                    text-decoration: none;
                }
            }
                
            }
        }
    }
    &__row6{
        width: $row_width;
        height: 60px;        
        background-color: $footer_bg;
        @include flex(flex, space-between, center);          
        padding: 10px 20px;
        color: $text_color;
    @include media(){
        flex-wrap: wrap;
        text-align: center;

    }  

    }
}